.container-fluid
{
	margin-top: 5px;
	height: 94vh;
}

.row
{
    height: 100%;
}

#objectsList{
	padding: 0;
	height: 100%;
}

#canvasDiv{
	padding: 0;
	height: 100%;
}

#canvas{
	background: rgb(255, 255, 255);
}

#toolbox{
	height: 100%;
}

.objectItem.icon{
	padding-left: 11px;
}

#propertiesContent{
	display: none;
}
