* { font-family: Sugoe UI, Sans-serif; outline: none; }
body, html { margin: 0; padding: 0; overflow: hidden; background: url(background.gif); }
button { padding: 6px 10px; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0.3); border: 1px solid rgb(40, 40, 40); border-radius: 4px; }
button:hover, button.hover { background: rgba(0, 0, 0, 0.2); cursor: pointer; }
button:active, button.active { background: rgba(0, 0, 0, 0.4); }

#mainMenu{
	background: rgb(150, 150, 150);
	padding: 2px;
	font-size: 1.2em;
	height: 37px;
}

.btn:active, .btn.active {
	background: rgba(0, 0, 0, 0.4);
}

ul.menu{
	margin: 0;
	padding: 0;
}

ul.menu li {
    display: inline-block;
}

#toolboxTabs {
	width: 100%;
	height: 30px;
	margin: 0;
	list-style:none;
	display: table-row;
}

.container-fluid
{
	margin-top: 5px;
	height: 94vh;
}

.row
{
    height: 100%;
}

#objectsList{
	background: rgb(150, 150, 150);
	padding: 0;
	height: 100%;
}

#canvasDiv{
	padding: 0;
	height: 100%;
}

#canvas{
	background: rgb(255, 255, 255);
}

#toolbox{
	background: rgb(150, 150, 150);
	height: 100%;
}

#toolboxContent{
	top: 40px;
}

.objectItemsGroupContainer{
	padding: 0;
}

.objectItemsGroupContainer li{
	padding: 0;
	display: inline;
}

.groupContainer{
	padding: 0;
	border-style: inset;
	background: rgb(190, 190, 190);
	box-shadow: 2 2 2px rgba(0,0,0,0.5);
	display: none;
}

.groupContainer ul{
	padding: 5px;
}

.objectItemsGroup{
	background: rgb(170, 170, 170);
	float: left;
	width: 100%;
	margin: 0;
}

.objectItem{
	background: rgb(170, 170, 170);
	display: inline;	
	margin: 5px 0px;
	padding: 5px;
	width: 100%;
}

.objectItem.icon{
	padding-left: 11px;
}

#propertiesContent{
	display: none;
}

#propertiesContent ul{
	 list-style-type: none;
	 display: flex;
}

.property ul {
	list-style-type: none;
}

.property ul li{
	display: inline;
}