.container-fluid
{
	margin-top: 5px;
	height: 90vh;
}

.row-fullHeight
{
    height: 100%;
	/*border: 1px solid #888;*/
}

#objectsList{
	padding: 0;
	height: 100%;
	/*border: 1px solid #888;*/
}

#canvasDiv{
	padding: 0;
	height: 100%;
}

#canvas{
	background: rgb(255, 255, 255);
}

#toolbox{
	height: 100%;
	/*border: 1px solid #888;*/
}

.objectItem.icon{
	padding-left: 11px;
}

#propertiesContent{
	display: none;
}

@font-face
{
	font-family: signsFont;
	src: url('../fonts/russianroadsign-medium.otf'),
	url('../fonts/russianroadsign-medium.otf'); /* IE9 */
}

.modal
{
	width: 1500px;
    overflow: hidden;
}
.modal-dialog{
    margin-right: 0;
    margin-left: 0;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
div
{
    outline:0px !important;
    -webkit-appearance:none;
}